---
http_interactions:
- request:
    method: get
    uri: https://sso.senec.com/realms/senec/.well-known/openid-configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"issuer":"https://sso.senec.com/realms/senec","authorization_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/auth","token_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/token","introspection_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/token/introspect","userinfo_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/userinfo","end_session_endpoint":"https://sso.senec.com/realms/senec/protocol/openid-connect/logout","frontchannel_logout_session_supported":true,"frontchannel_logout_supported":true,"jwks_uri":"https://sso.senec.com/realms/senec/protocol/openid-connect/certs","check_session_iframe":"https://sso.senec.com/realms/senec/protocol/openid-connect/login-status-iframe.html","grant_types_supported":["authorization_code","client_credentials","implicit","password","refresh_token","urn:ietf:params:oauth:grant-type:device_code","urn:ietf:params:oauth:grant-type:token-exchange","urn:ietf:params:oauth:grant-type:uma-ticket","urn:openid:params:grant-type:ciba"],"acr_values_supported":["0","1"],"response_types_supported":["code","none","id_token","token","id_token
        token","code id_token","code token","code id_token token"],"subject_types_supported":["public","pairwise"],"prompt_values_supported":["none","login","consent"],"id_token_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512"],"id_token_encryption_alg_values_supported":["ECDH-ES+A256KW","ECDH-ES+A192KW","ECDH-ES+A128KW","RSA-OAEP","RSA-OAEP-256","RSA1_5","ECDH-ES"],"id_token_encryption_enc_values_supported":["A256GCM","A192GCM","A128GCM","A128CBC-HS256","A192CBC-HS384","A256CBC-HS512"],"userinfo_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512","none"],"userinfo_encryption_alg_values_supported":["ECDH-ES+A256KW","ECDH-ES+A192KW","ECDH-ES+A128KW","RSA-OAEP","RSA-OAEP-256","RSA1_5","ECDH-ES"],"userinfo_encryption_enc_values_supported":["A256GCM","A192GCM","A128GCM","A128CBC-HS256","A192CBC-HS384","A256CBC-HS512"],"request_object_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512","none"],"request_object_encryption_alg_values_supported":["ECDH-ES+A256KW","ECDH-ES+A192KW","ECDH-ES+A128KW","RSA-OAEP","RSA-OAEP-256","RSA1_5","ECDH-ES"],"request_object_encryption_enc_values_supported":["A256GCM","A192GCM","A128GCM","A128CBC-HS256","A192CBC-HS384","A256CBC-HS512"],"response_modes_supported":["query","fragment","form_post","query.jwt","fragment.jwt","form_post.jwt","jwt"],"registration_endpoint":"https://sso.senec.com/realms/senec/clients-registrations/openid-connect","token_endpoint_auth_methods_supported":["private_key_jwt","client_secret_basic","client_secret_post","tls_client_auth","client_secret_jwt"],"token_endpoint_auth_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512"],"introspection_endpoint_auth_methods_supported":["private_key_jwt","client_secret_basic","client_secret_post","tls_client_auth","client_secret_jwt"],"introspection_endpoint_auth_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512"],"authorization_signing_alg_values_supported":["PS384","RS384","EdDSA","ES384","HS256","HS512","ES256","RS256","HS384","ES512","PS256","PS512","RS512"],"authorization_encryption_alg_values_supported":["ECDH-ES+A256KW","ECDH-ES+A192KW","ECDH-ES+A128KW","RSA-OAEP","RSA-OAEP-256","RSA1_5","ECDH-ES"],"authorization_encryption_enc_values_supported":["A256GCM","A192GCM","A128GCM","A128CBC-HS256","A192CBC-HS384","A256CBC-HS512"],"claims_supported":["iss","sub","aud","exp","iat","auth_time","name","given_name","family_name","preferred_username","email","acr","azp","nonce"],"claim_types_supported":["normal"],"claims_parameter_supported":true,"scopes_supported":["openid","meinsenec","bsr-senec-meinsenec","company-employee.forced-diff-sync","vendor.read","sso_forecast_charging_settings","controller.ping.get","credentials-types","basic","sams.user.send-welcome-email","installation-product.read","deadletter.publish.write","sams.user.get","sso_forecast_charging_settings_consent","installation.read","user-permission.read","sso_user_save","touchpoint.read","service_account","vendor.forced-full-sync","master-data.admin.write","company-employee.read","installa[...]
- request:
    method: get
    uri: https://sso.senec.com/realms/senec/protocol/openid-connect/auth?client_id=endcustomer-app-frontend&code_challenge=FILTERED_CODE_CHALLENGE&code_challenge_method=S256&redirect_uri=senec-app-auth%3A%2F%2Fkeycloak.prod&response_type=code&scope=roles%20meinsenec
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html;charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: "    <!DOCTYPE html>\n    <html lang=\"en\">\n\n    <head>\n        <meta
        charset=\"UTF-8\">\n        <title>\n        Login - SENEC\n        </title>\n
        \       <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n
        \       <link rel=\"stylesheet\" href=\"/resources/bt6qj/login/senec/css/styles.css?v=2.5\">\n
        \       <script>\n            const toggle = (button) => {\n                const
        passwordElement = document.getElementById(button.getAttribute('aria-controls'));\n
        \               const eye = button.querySelector('.eye-show');\n                const
        eyeSlash = button.querySelector('.eye-hide');\n\n                if (passwordElement.type
        === \"password\") {\n                    passwordElement.type = \"text\";\n
        \                   eye.style.display = \"none\";\n                    eyeSlash.style.display
        = \"block\";\n                    button.setAttribute(\"aria-label\", button.dataset.labelHide);\n
        \               } else {\n                    passwordElement.type = \"password\";\n
        \                   eye.style.display = \"block\";\n                    eyeSlash.style.display
        = \"none\";\n                    button.setAttribute(\"aria-label\", button.dataset.labelShow);\n
        \               }\n            }\n            document.addEventListener(\"DOMContentLoaded\",
        () => {\n                    document.querySelectorAll('[data-password-toggle]')\n
        \                       .forEach(button => {\n                            button.onclick
        = () => toggle(button);\n                        });\n                });\n
        \       </script>\n        <script type=\"importmap\">\n            {\n                \"imports\":
        {\n                    \"rfc4648\": \"/resources/bt6qj/common/keycloak/vendor/rfc4648/rfc4648.js\"\n
        \               }\n            }\n        </script>\n        <script type=\"module\">\n
        \           import { startSessionPolling } from \"/resources/bt6qj/login/senec/js/authChecker.js\";\n\n
        \           startSessionPolling(\n                \"/realms/senec/login-actions/restart?client_id=endcustomer-app-frontend&tab_id=FILTERED_TAB_ID&client_data=FILTERED_CLIENT_DATA&skip_logout=true\"\n
        \         [...]
- request:
    method: post
    uri: https://sso.senec.com/realms/senec/login-actions/authenticate?client_data=FILTERED_CLIENT_DATA&client_id=endcustomer-app-frontend&execution=FILTERED_EXECUTION&session_code=FILTERED_SESSION_CODE&tab_id=FILTERED_TAB_ID
    body:
      encoding: US-ASCII
      string: username=FILTERED_EMAIL
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html;charset=utf-8
      content-language:
      - de
    body:
      encoding: UTF-8
      string: "    <!DOCTYPE html>\n    <html lang=\"de\">\n\n    <head>\n        <meta
        charset=\"UTF-8\">\n        <title>\n        Login - SENEC\n        </title>\n
        \       <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n[...]
- request:
    method: post
    uri: https://sso.senec.com/realms/senec/login-actions/authenticate?client_data=FILTERED_CLIENT_DATA&client_id=endcustomer-app-frontend&execution=FILTERED_EXECUTION&session_code=FILTERED_SESSION_CODE&tab_id=FILTERED_TAB_ID
    body:
      encoding: US-ASCII
      string: username=FILTERED_EMAIL&password=FILTERED_PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 302
      message: Found
    headers:
      location:
      - senec-app-auth://keycloak.prod?session_state=FILTERED_SESSION_STATE&iss=https%3A%2F%2Fsso.senec.com%2Frealms%2Fsenec&code=FILTERED_CODE
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Feb 2026 09:32:38 GMT
- request:
    method: post
    uri: https://sso.senec.com/realms/senec/protocol/openid-connect/token
    body:
      encoding: UTF-8
      string: code=FILTERED_CODE&code_verifier=FILTERED_CODE_VERIFIER&grant_type=authorization_code&redirect_uri=senec-app-auth%3A%2F%2Fkeycloak.prod
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic FILTERED_BASIC_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"FILTERED_ACCESS_TOKEN","expires_in":300,"refresh_expires_in":2592000,"refresh_token":"FILTERED_REFRESH_TOKEN","token_type":"Bearer","not-before-policy":0,"session_state":"FILTERED_SESSION_STATE","scope":"meinsenec
        roles energy-storage-catalog.products.read app_user_token_exchange_aud touchpoint.read
        master-data.system.write controller.onlinestate.get pricing-forecast.read
        senec_impersonate pricing-forecast.write master-data.customer.read app_proxy_aud
        credentials-types fpp_gateway_aud master-data.system.read master-data.customer.write
        master-data.user.read master-data.document.read"}'
  recorded_at: Sat, 28 Feb 2026 09:32:38 GMT
- request:
    method: get
    uri: https://senec-app-measurements-proxy.prod.senec.dev/v1/systems/999999/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer FILTERED_BEARER_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"currently":{"powerGenerationInW":2328.228515625,"powerConsumptionInW":721.75,"gridFeedInInW":1583.1953125,"gridDrawInW":0.0,"batteryChargeInW":0.0,"batteryDischargeInW":0.0,"batteryLevelInPercent":0.0,"selfSufficiencyInPercent":100.0,"wallboxInW":0.0},"today":{"powerGenerationInWh":2429.6875,"powerConsumptionInWh":4416.01,"gridFeedInInWh":1152.34375,"gridDrawInWh":3140.625,"batteryChargeInWh":0.0,"batteryDischargeInWh":0.0,"batteryLevelInPercent":0.0,"selfSufficiencyInPercent":28.88,"wallboxInWh":0.0},"timestamp":"2026-02-28T09:27:56Z","electricVehicleConnected":false,"numberOfWallboxes":0,"systemId":999999,"systemType":"V123","storageDeviceState":"STANDBY"}'
  recorded_at: Sat, 28 Feb 2026 09:32:38 GMT
recorded_with: VCR 6.4.0
